.notFound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFound p {
    font-size: large;
}

.notFound a {
    border: 2px solid blue;
    border-radius: 10px;
    font-size: large;
    padding: 8px;
    text-decoration: none;
    color: blue;
}