#root {
  text-align: center;
  background-color: #140E16;
}

body {
    margin: 0;
}

p {
    color: #ffa90e;
    font-size: larger;
}

h1 {
 color: #7F3035;
 margin: 0;
}

h2 {
    color: #ffa90e;
}

h3 {
    color: #667DD1;
    font-size: 1.5em;
}

.header {
    display: flex;
    background-color: #7F3035;
    height: 50px;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
    margin: 10px;
}

button {
    padding: 5px;
    margin: 10px;
    background-color: #667DD1;
    border-style: solid;
    border-width: 1px;
}

.results-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #140E16;
}

.list-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: #ffa90e 2px solid;
    border-width: 2px;
    border-radius: 50px;
    padding: 10px;
    margin-top: 25px;
}

.loader-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.fallback-ui {
    height: 100vh;
}

div.clickable {
    cursor: pointer;
}
